name: E5-Rclone-Actions

on:
  push:
    branches:
      - master
  watch:
    types: started
jobs:
  run-it:
    runs-on: ubuntu-latest
    name: E5-Rclone-Actions
    steps:
      - name: Checkout master
        uses: actions/checkout@master
      - name: Rclone-Install
        run: |
          curl https://rclone.org/install.sh | sudo bash
          wget https://yunpan.zrwnetdisk.club/tj/%E4%B8%8A%E4%BC%A0/rclone-v1.50.2-linux-amd64-21vianet.zip
          unzip rclone-v1.50.2-linux-amd64-21vianet.zip
          sudo cp rclone /usr/bin/rclone
          sudo chmod +x /usr/bin/rclone
      - name: Rclone-Config
        env:
          RCLONE_CONFIG: ${{ secrets.RCLONE_CONFIG }}
        run: |
          # 写配置文件
          mkdir -p ~/.config/rclone/
          cat << EOF > ~/.config/rclone/rclone.conf
          $RCLONE_CONFIG
          EOF
      - name: Rclone-Run
        run: |
          # Rclone-Run

          # 列出文件(此处不展示)
          echo "列出文件(此处不展示)"
          rclone lsf movie: > "rclone lsf.log"
          rclone ls movie: > "rclone ls.log"

          rclone copy movie:无彩限的怪灵世界 tongji:wzr/无彩限的怪灵世界
          echo "复制完毕"

          
